@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face{
    font-family: Idroid; src: url('fontes/idroid.otf') format('opentype');   
}

:root {
    --cor00: #c5ebd6;
    --cor01: #83e1ad;
    --cor02: #3ddc84;
    --cor03: #2fa866;
    --cor04: #1a5c37;
    --cor05: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, Sans-Serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --font-android: Idroid, cursive;
}

* {
    margin: 0px;
    padding: 0px;
    }

body{
    background-color: var(--cor00);
    font-family: var(--fonte-padrao);
}



header {
    background-image:linear-gradient(to bottom, var(--cor03), var(--cor05));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fonte-destaque);
    font-weight: normal;
    font-size: 3.4em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);
    
}
header > p{
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right:10px;
    padding-left:10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.575);
}
nav{
    background-color: var(--cor05);
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.692) ;
    
}
nav > a{
color:white;
padding: 10px;
border-radius: 5px;
text-decoration: none;
font-weight: bold;
transition-duration: 0.5s;
margin-top: 20px;
}
nav > a:hover{
    background-color: var(--cor03);
    color: var(--cor04);
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 30px;
    box-shadow: 0px 0 px 10px rgba(0, 0, 0, 0.473);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    font-family: var(--font-android);
    color: var(--cor05);
    font-weight: normal;
}
main h2{
    font-family: var(--font-android);
    color: var(--cor04);
    font-weight: normal;
    font-size: 1.8em;
    background-image:linear-gradient(to right, var(--cor01), transparent);
    text-indent: 8px;
}

main > img{
    max-width: 350px;
    
}
main img.pequena{
    width: 50%;
    display: block;
    margin: auto;
}
main p{
    margin: 15px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
}
main strong{
    color: var(--cor05);
    font-weight: bold;
}
main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor04);
    background-color: var(--cor01);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color:var(--cor04)
}
div.video{
    background-color: var(--cor05);
    margin: 0px -5px 30px -5px;
    padding: 20px;
    padding-bottom: 57%; /* são as bordas pretas ao redor do vídeo*/
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}
aside{
    background-color: var(--cor01);
    padding: 0px 0px 10 px 10 px ;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.644);
}
aside > h3{
    background-color: var(--cor04);
    color: white;
    padding: 10px;
    margin: -20px -20px 0 px -20px;
    border-radius: 10px 10px 0px 0px;
}
aside > ul{
    list-style-type: '\2714';
    list-style-position: inside;
    columns: 2;
}
footer{
    background-color: var(--cor05);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 10px 0px;
    margin-top: 20px;
  
}
footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}
footer a:hover{
    text-decoration: underline;
    color: var(--cor01);

}
